@import "tailwindcss";

@theme {
  --animate-scale: scaleAnim 300ms ease-in-out;

  @keyframes scaleAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
