---
// components
import Container from "../../elements/Container.astro"
import ContactItem from "./ContactItem.astro"
---
<Container variant={'md'}>
    <div class="flex lg:flex-row flex-col gap-8 text-base-900">
        <ContactItem title="Email" contact="bintangnugraha.dev@email.com" />
        <ContactItem title="Phone" contact="+62 851-5534-4998" />
    </div>
</Container>